---
interface Props {
  data: {
    title?: string;
    upperheader?: string;
    topicTitle?: string;
    topicDescriptionParagraphs?: string[];
    bulletTitle?: string;
    bulletDescriptionParagraphs?: string[];
    bulletPoints?: string[];
    closingTitle?: string;
    closingDescriptionParagraphs?: string[];
  };
}

const { data } = Astro.props;
---

<section class="py-24 px-4 text-lucky-950 relative overflow-hidden">

  <div class="max-w-7xl mx-auto relative z-10 md:px-8 lg:px-12">
    
    <div class="mb-10">
      {data.upperheader && (
        <span class="subtitle mb-2">
          {data.upperheader}
        </span>
      )}
      {data.title && <h2 class="title ml-[-8px]">{data.title}</h2>}
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-3 divide-y lg:divide-y-0 lg:divide-x divide-madison-800">
      
      <div class="pb-12 lg:pb-0 lg:pr-12">
        <div class="w-18 h-18 bg-lucky-950 shadow-md rounded-lg flex items-center justify-center mb-6">
         <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 text-muted-50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-goal-icon lucide-goal"><path d="M12 13V2l8 4-8 4"/><path d="M20.561 10.222a9 9 0 1 1-12.55-5.29"/><path d="M8.002 9.997a5 5 0 1 0 8.9 2.02"/></svg>
        </div>
        <h3 class="font-title text-2xl font-bold mb-4 text-muted-950">{data.topicTitle}</h3>
        {data.topicDescriptionParagraphs?.map(p => (
          <p class="paragraph-text leading-relaxed mb-2" set:html={p}></p>
        ))}
      </div>

      <div class="py-12 lg:py-0 lg:px-12">
        <div class="w-18 h-18 bg-lucky-950 shadow-md rounded-lg flex items-center justify-center mb-6">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 text-muted-50" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6" /></svg>
        </div>
        <h3 class="font-title text-2xl font-bold mb-4 text-muted-950">{data.bulletTitle}</h3>
        {data.bulletDescriptionParagraphs?.map(p => (
          <p class="paragraph-text">{p}</p>
        ))}
        <ul class="space-y-3 mt-6">
          {data.bulletPoints?.map(item => (
            <li class="flex items-start gap-3  bg-gray-700 backdrop-blur-sm p-3 rounded-lg border-2 border-gray-300 shadow-sm">
            <svg 
              xmlns="http://www.w3.org/2000/svg" 
              class="w-4 h-4 shrink-0 text-madison-600 text-monza-600 mt-0.5"  
              viewBox="0 0 32 32"
            >
              <path fill="currentColor" d="M16 2a14 14 0 1 0 14 14A14 14 0 0 0 16 2m-2 19.59l-5-5L10.59 15L14 18.41L21.41 11l1.596 1.586Z"/>
              <path fill="none" d="m14 21.591l-5-5L10.591 15L14 18.409L21.41 11l1.595 1.585z"/>
            </svg>
            <span class="text-muted-50  font-sans !text-sm tracking-wide leading-tight">{item}</span>
          </li>
          ))}
        </ul>
      </div>

      <div class="pt-12 lg:pt-0 lg:pl-12">
        <div class="w-18 h-18 bg-lucky-950 shadow-md rounded-lg flex items-center justify-center mb-6">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 text-muted-50" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" /></svg>
        </div>
        <h3 class="font-title text-2xl font-bold mb-4 text-muted-50">{data.closingTitle}</h3>
        {data.closingDescriptionParagraphs?.map(p => (
          <p class="text-muted-50 leading-relaxed mb-4" set:html={p}></p>
        ))}
        <div class="mt-8">
           <div class="text-4xl font-bold text-muted-950 mb-1">10+</div>
           <div class="font-subtitle uppercase tracking-widest font-bold">Years of <br>Part 141 <br>Training</div>
        </div>
      </div>

    </div>
  </div>
</section>