---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import BlogPostCard from "../../components/Blog/BlogPostCard.astro";
import Hero75 from "../../components/Hero75.astro";
import CTASection from "../../components/CTASection.astro";

const blogPosts = await getCollection("blog");
const sortedPosts = blogPosts.sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
);

// Separar o primeiro post (featured) dos demais
const featuredPost = sortedPosts[0];
const remainingPosts = sortedPosts.slice(1);

// Format date helper
const formatDate = (date: Date) => {
  return new Intl.DateTimeFormat("en-US", {
    year: "numeric",
    month: "long",
    day: "numeric",
  }).format(date);
};

const heroData = {
  image: {
    src: "/src/assets/-Multiengine-training.jpg",
    alt: "CFI and Student Pilot Training on a Piper Seneca II",
  },
  upperHeader: "Latest Insights",
  title: "Stay Informed <br> About Aviation",
  subTitle:
    "Explore articles, tips, and updates from {COMPANY_NAME}. Learn from our instructors, discover industry news, and enhance your pilot knowledge.",
  cta: [
    { url: "/bew-to-flying", text: "New to Flying?" },
    { url: "/about", text: "Meet the Team" },
  ],
};

const constBlogData = {
  upperHeader: "{COMPANY_NAME}'s",
  title: "Blog",
  paragraphs: [
    "Stay informed with the latest aviation insights, training tips, relevant informations, and industry news.",
  ],
  upperHeaderTwo: "They Are Here For You",
  titleTwo: "Our Fleet Aircrafts",
};

const ctaData = {
  title: "Define Your Mission. Let’s Reach the Majors Together.",
  description:
    "Your first step at  is defining that goal, as it will shape your standards, timeline, and path to the cockpit. Whether you are aiming for the airlines or mastering a new rating, we are here to provide the roadmap and the mentorship to get you there. Define your mission today, and let’s start your training plan.",
  image: {
    src: "/src/assets/sebastian-zzWYD-tc_jI-unsplash.jpg",
    alt: "Training aircraft in flight",
  },
  primaryCTA: {
    text: "Schedule a Tour",
    href: "/contact",
  },
  secondaryCTA: {
    text: "Enroll Now",
    href: "/enroll",
  },
};

const metaProps = {
  siteTitle: "Aviation Blog & Training Insights | {COMPANY_NAME}",
  siteDescription:
    "Read the latest flight training tips, academy news, and career advice from the senior instructor cadre at {COMPANY_NAME}.",
  siteKeywords:
    " Aviation blog, flight training tips, airline pilot career advice, student pilot news, aviation articles, learn to fly blog North Carolina",
};
---

<BaseLayout {...metaProps}>
  <Hero75 data={heroData} />

  <section class="py-16 px-4 bg-muted-50">
    <div class="max-w-6xl mx-auto">
      <div class="flex flex-col gap-6 lg:gap-12">
        {
          featuredPost && (
            <div class="">
              <div class="relative">
                <span class="absolute top-4 left-4 bg-monza-600 text-white px-4 py-1 text-sm font-bold uppercase z-10">
                  Featured
                </span>
                <BlogPostCard
                  isHighlight={true}
                  post={featuredPost}
                  featured={true}
                />
              </div>
            </div>
          )
        }
        <div class="flex flex-wrap gap-y-6 gap-x-4 justify-between">
          {
            remainingPosts.map((post) => (
              <div class="w-full md:w-1/2 lg:w-[30%]">
                <BlogPostCard post={post} />
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </section>
  <CTASection {...ctaData} />
</BaseLayout>
