---
import { ADDRESS, ADDRESS_CITY, ADDRESS_STATE, AIRPORT } from "../data/consts";

interface Props {
  data: {
    eyebrow: string;
    headline: string;
    bodyCopy: string;
  };
}

const { data } = Astro.props;
---

<section class="py-16 md:py-24 bg-slate-50 overflow-hidden">
  <div class="max-w-7xl mx-auto px-5 md:px-8 lg:px-12">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
      <div
        class="reveal-fade border-3xl flex flex-col justify-center opacity-0 translate-y-8 transition-all duration-1000 ease-out"
      >
        <p
          class="text-sky-700 font-bold uppercase tracking-widest text-sm mb-2"
        >
          {data.eyebrow}
        </p>
        <h2
          class="title !text-[2.5rem] uppercase !font-main-header tracking-wide !text-sky-950 !mb-2"
          set:html={data.headline}
        />
        <p
          class="paragraph-text text-slate-600 mb-8 text-lg lg:text-xl tracking-wide"
        >
          {data.bodyCopy}
        </p>
        <div
          class="p-6 rounded-sm shadow-md border-3xl bg-sky-800 border-l-4 border-sky-600 text-white"
        >
          <h4 class="font-bold text-lg lg:text-2xl mb-2">{AIRPORT}</h4>
          <p class="lg:tex-xl">{ADDRESS}</p>
          <p class="lg:tex-xl">{ADDRESS_CITY}, {ADDRESS_STATE}</p>
        </div>
      </div>
      <div
        class="reveal-fade h-[400px] lg:h-full min-h-[400px] bg-slate-200 rounded-sm overflow-hidden shadow-lg relative opacity-0 translate-y-8 transition-all duration-1000 ease-out delay-200"
      >
        <div
          class="h-[400px] lg:h-full min-h-[400px] bg-slate-200 rounded-sm overflow-hidden shadow-lg relative"
        >
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3327.063555490633!2d-75.55791588829368!3d40.24214486612756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c685aa8ae55be1%3A0x31181fad0855ab8!2sPitcairn%20Flight%20Academy!5e1!3m2!1sen!2sbr!4v1768499715238!5m2!1sen!2sbr"
            width="100%"
            height="100%"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
            class="absolute inset-0 w-full h-full border-3xl"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  const observerOptions = {
    threshold: 0.1,
    rootMargin: "0px 0px -50px 0px",
  };

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.remove("opacity-0", "translate-y-8");
        observer.unobserve(entry.target);
      }
    });
  }, observerOptions);

  document
    .querySelectorAll(".reveal-fade")
    .forEach((el) => observer.observe(el));
</script>
